@font-face {
    font-family: 'inter';
    src: url('../fonts/Inter-VariableFont_opsz,wght.woff2') format('woff2'),
         url('../fonts/Inter-VariableFont_opsz,wght.woff') format('woff');
}

@font-face {
    font-family: 'jost';
    src: url('../fonts/Jost-Light.woff2') format('woff2'),
         url('../fonts/Jost-Light.woff') format('woff');
}