@use 'fonts';

$primary-color: #000000;
$secondary-color: #ffffff;
$background-color: #F5F5F7;
$text-color: #85858A;
$border-color: #c2c2c2;
$cta-button-color: #0071E3;
$font-family: 'inter', helvetica, arial;
$font-logo: 'jost', helvetica, arial;
$base-font-size: 16px;