@use '../abstracts';

#mobileMenu {
    background-color: abstracts.$secondary-color;
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    z-index: 20;
    transform: translateY(-100%);
    transition: transform 1s ease-in-out;

    &.open{
        transform: translateY(0);
        box-shadow: 0 2px 2px rgba(145, 144, 144, 0.3);
    }

    button{
        font-size: 40px;
        background: none;
        border: none;
        font-family: inherit;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
        width: 100%;
        padding-top: 20px;
        padding-right: 20px;

    }


    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 30px;
        height: 200px;
    }

    li a {
        color: abstracts.$primary-color;
        text-decoration: none;
        font-size: 26px;
        font-weight: bold;
        
        &:hover {
            color: abstracts.$text-color;
            transition: all .3s ease-in-out;
        }
    }
}