model-viewer {
  width: auto;
  margin-top: 40px;
  max-width: 1200px;
  height: 600px;
  border-radius: 20px;
  padding: 0 40px 0 40px;
}

.Hotspot {
  background: url(../images/hotspot.svg) center no-repeat;
  border: 0;
  cursor: pointer;
  width: 30px;
  height: 30px;
  transition: all 0.5s ease-in-out;
  opacity: 0.5;
  padding: 8px;

  &:hover {
    opacity: 1;
  }
}

.Hotspot:not([data-visible]) {
  opacity: 0;
  width: 30px;
  height: 30px;
  pointer-events: none;
}

.Hotspot:focus {
  border: 4px solid rgb(49, 49, 49);
  border-radius: 100px;
  height: 32px;
  outline: none;
  width: 32px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.HotspotAnnotation{
  visibility: hidden;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 0.8);
  display: block;
  font-family: 'inter', Helvetica Neue, sans-serif;
  left: calc(100% + 1em);
  overflow-wrap: break-word;
  padding: 2em; 
  position: absolute;
  top: 50%;
  width: 200px;
  text-align: left;
}

.HotspotAnnotation h2 {
  font-size: 20px;
}

@media  screen and (max-width: 768px) {
  model-viewer {
    height: 300px;
  }
  .Hotspot {
    display: none;
  }
}