@use '../abstracts';

#xray-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    text-align: center;

  h3{
    color: abstracts.$primary-color;
    font-size: 28px;
    font-weight: bold;
  }
  p {
    color: abstracts.$text-color;
    font-size: 18px;
    padding: 25px 50px 50px 50px;
  }
}

#xray-con {
   padding: 0 40px 60px 40px;
   display: flex;
   align-items: center;
   justify-content: center
}

#surfaceView {
  position: relative;
  aspect-ratio: 16/10;
  background-image: url(../images/earbuds_xray.png);
  background-size: cover;
  border-radius: 20px;
  max-width: 900px; 
  width: 100%;
}

#xrayView {
  position: absolute;
  top: 0;
  left: 0;
  aspect-ratio: 16/10;
  background-image: url(../images/earbuds_fully_textured.png);
  background-size: cover;
  width: 50%;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;  

  &::after {
    content: "";
    position: absolute;
    right: 0;
    width: 6px;
    height: 100%;
    background-color: #fff;;
  }
}

input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
  width: calc(100% + 20px);
  height: 20px;
  background: transparent;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 0;
  background: transparent;
  border: none;
}

input[type=range]::-moz-range-track {
  height: 0;
  background: transparent;
  border: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #fff;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  
}

input[type=range]::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #fff;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

@media  screen and (min-width: 768px) {
  #xray-content h3 {
    color: abstracts.$primary-color;
    font-size: 32px;
    font-weight: bold;
  }

  #xray-content p {
    color: abstracts.$text-color;
    font-size: 24px;
    padding: 25px 50px 50px 50px;
  }
}

@media  screen and (min-width: 1200px) {
  #xray-content h3 {
    color: abstracts.$primary-color;
    font-size: 48px;
    font-weight: bold;
  }

  #xray-content p {
    color: abstracts.$text-color;
    font-size: 28px;
    padding: 25px 50px 50px 50px;
  }
}