@use '../abstracts';

html{
  scroll-behavior: smooth;

  body {
    color: abstracts.$secondary-color;
    #overviewSect, #featureSect ,#exploringSect {
      scroll-margin-top: 62px;
    }
  }
}

.model-con {
  background-color: abstracts.$background-color;
  text-align: center;
  padding-top: 100px;

  h3 {
    color: abstracts.$primary-color;
    font-size: 28px;
    font-weight: bold;
  }

  p {
    color: abstracts.$text-color;
    font-size: 18px;
    padding: 25px 50px 0 50px;
  }
  @media  screen and (min-width: 768px) {
    h3 {
      color: abstracts.$primary-color;
      font-size: 32px;
      font-weight: bold;
    }

    p {
      color: abstracts.$text-color;
      font-size: 24px;
      padding: 25px 50px 0 50px;
    }
  }

  @media  screen and (min-width: 1200px) {
    h3 {
      color: abstracts.$primary-color;
      font-size: 48px;
      font-weight: bold;
    }

    p {
      color: abstracts.$text-color;
      font-size: 28px;
      padding: 25px 50px 0 50px;
    }
  }
}

.card-con {
  background-color: abstracts.$background-color;
  padding: 40px 40px 50px 40px;
}

.no-scroll {
  overflow: hidden;
}